* {
    padding: 0;
    margin: 0;
}
.a_nav {
    color: black;
} 
.a_button:hover .a_list {
    visibility: visible;
    transform: translateY(50px);
   transition: 0.1s;
   z-index: 1;
}
.a_user_font label {
    font-size: 14px;
}
.a_content {
    background-color: #2B2F76;
}
.a_tips {
    height: 450px;
}